<html>
<body>
<table border="1">
#foreach( $condition in $conditions )
<tr>
<td>
$condition
</td>
#foreach( $rule in $rules )
<td>
$rule.getConditionValue( $condition)
</td>
#end
</tr>
#end
#foreach( $action in $actions )
<tr>
<td>
$action
#foreach( $rule in $rules )
<td>
$rule.getActionValue( $action)
</td>
#end
</td>
</tr>
#end
</table>
</body>
</html>